package ${package}.controller;

import com.taoding.ipr.base.model.PageVO;
import com.taoding.ipr.base.model.ResponseVO;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import java.util.List;
import java.util.Map;
import ${package}.entity.${bigCamelCaseClassName}Entity;
import ${package}.service.${bigCamelCaseClassName}Service;

/**
 * ${tableComment} Controller
 *
 * @author ${author}
 * @version ${datetime}
 */
@RestController
@RequestMapping(value = "/${moduleName}/${littleCamelCaseClassName}")
public class ${bigCamelCaseClassName}Controller {

    @Autowired
    private ${bigCamelCaseClassName}Service ${littleCamelCaseClassName}Service;

    /**
     * 保存${tableComment}
     *
     * @param ${littleCamelCaseClassName}
     * @return ${bigCamelCaseClassName}
     */
    @PostMapping(value = "/save")
    public ResponseVO<${bigCamelCaseClassName}Entity> save(@RequestBody ${bigCamelCaseClassName}Entity ${littleCamelCaseClassName}) {
        return new ResponseVO<>(${littleCamelCaseClassName}Service.save(${littleCamelCaseClassName}));
    }

    /**
     * 更新${tableComment}
     *
     * @param ${littleCamelCaseClassName}
     * @return ${bigCamelCaseClassName}
     */
    @PostMapping(value = "/update")
    public ResponseVO<${bigCamelCaseClassName}Entity> update(@RequestBody ${bigCamelCaseClassName}Entity ${littleCamelCaseClassName}) {
        return new ResponseVO<>(${littleCamelCaseClassName}Service.update(${littleCamelCaseClassName}));
    }

    /**
     * 查询${tableComment}列表
     *
     * @return ${tableComment}List
     */
    @PostMapping(value = "/findByList")
    public ResponseVO<List<${bigCamelCaseClassName}Entity>> findByList() {
        return new ResponseVO<>(${littleCamelCaseClassName}Service.findByList());
    }

    /**
     * 查询${tableComment}信息
     *
     * @param ${primary.littleCamelCaseFieldName} ${tableComment}Id
     * @return ${tableComment}
     */
    @GetMapping(value = "/findById")
    public ResponseVO<${bigCamelCaseClassName}Entity> findById(${primary.fieldType} ${primary.littleCamelCaseFieldName}) {
        return new ResponseVO<>(${littleCamelCaseClassName}Service.findById(${primary.littleCamelCaseFieldName}));
    }

    /**
     * 带条件分页查询${tableComment}列表
     *
     * @param params ${tableComment}
     * @return ${tableComment}
     */
    @PostMapping("/findByPage")
    public PageVO<${bigCamelCaseClassName}Entity> findByPage(@RequestBody Map<String, String> params) {
        return ${littleCamelCaseClassName}Service.findByPage(params);
    }

    /**
     * 删除${tableComment}
     *
     * @param ${primary.littleCamelCaseFieldName}
     */
    @GetMapping(value = "/deleteById")
    public void deleteById(${primary.fieldType} ${primary.littleCamelCaseFieldName}) {
        ${littleCamelCaseClassName}Service.deleteById(${primary.littleCamelCaseFieldName});
    }

    /**
     * 批量删除${tableComment}
     *
     * @param ${primary.littleCamelCaseFieldName}s
     *
     */
    @GetMapping(value = "/deleteByIds")
    public void deleteByIds(String ${primary.littleCamelCaseFieldName}s) {
        ${littleCamelCaseClassName}Service.deleteByIds(${primary.littleCamelCaseFieldName}s);
    }




}