/**
 * Copyright © 2018, Leon
 * <p>
 * All Rights Reserved.
 */
package ${package}import com.taoding.ipr.base.model.BaseEntity;
import lombok.Data;
import lombok.experimental.Accessors;

import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.Id;
import javax.persistence.Table;

        .entity;
#foreach($column in $columns)
    #if($column.fieldType=='Date')
#end
#end

/**
 * ${tableComment}表 Entity
 *
 * @author ${author}
 * @version ${datetime}
 */
@Accessors(chain = true)
@Data
@Entity
@Table(name = "${tableName}")
public class ${bigCamelCaseClassName}Entity {

#foreach($column in $columns)
#if($column.littleCamelCaseFieldName == 'id')

    /**
     * ${column.columnComment}
     */
    @Id
    @Column(unique = true,length = 32)
    private $column.fieldType $column.littleCamelCaseFieldName;
#else

    /**
     * ${column.columnComment}
     */
    @Column
    private $column.fieldType $column.littleCamelCaseFieldName;
#end

#end

}