/**
 * Copyright © 2018, Leon
 * <p>
 * All Rights Reserved.
 */

package ${package}.dao;

import ${package}.entity.${bigCamelCaseClassName}Entity;
import org.springframework.data.jpa.repository.JpaRepository;

/**
 * ${tableComment} Repository
 *
 * @author ${author}
 * @version ${datetime}
 */
public interface ${bigCamelCaseClassName}Repository extends JpaRepository<${bigCamelCaseClassName}Entity, String> {

}