/**
 * Copyright © 2018, Leon
 * <p>
 * All Rights Reserved.
 */

package ${package}.mapper;

import ${package}.domain.${bigCamelCaseClassName}Entity;
import java.util.List;

/**
 * ${tableComment} Mapper
 *
 * @author ${author}
 * @version ${datetime}
 */
public interface ${bigCamelCaseClassName}Mapper {

    /**
     * 查询
     *
     * @param ${primary.littleCamelCaseFieldName} ${tableComment}Id
     * @return ${tableComment}
     */
    ${bigCamelCaseClassName}Entity findById(${primary.fieldType} ${primary.littleCamelCaseFieldName});

    /**
     * 查询列表
     *
     * @param ${littleCamelCaseClassName} ${tableComment}
     * @return ${tableComment}List
     */
    List<${bigCamelCaseClassName}Entity> findByList(${bigCamelCaseClassName}Entity ${littleCamelCaseClassName});

    /**
     * 保存
     *
     * @param ${littleCamelCaseClassName} ${tableComment}
     * @return ${tableComment}
     */
    ${bigCamelCaseClassName}Entity save(${bigCamelCaseClassName}Entity ${littleCamelCaseClassName});

    /**
     * 更新
     *
     * @param ${littleCamelCaseClassName} ${tableComment}
     * @return ${tableComment}
     */
    ${bigCamelCaseClassName}Entity update(${bigCamelCaseClassName}Entity ${littleCamelCaseClassName});

    /**
     * 删除
     *
     * @param ${primary.littleCamelCaseFieldName}
     * @return
     */
    int deleteById(${primary.fieldType} ${primary.littleCamelCaseFieldName});

    /**
     * 批量删除
     *
     * @param ${primary.littleCamelCaseFieldName}s
     * @return
     */
    int deleteByIds(String[] ${primary.littleCamelCaseFieldName}s);
}