/**
 * Copyright © 2018, Leon
 * <p>
 * All Rights Reserved.
 */

package ${package}import org.springframework.data.jpa.repository.JpaRepository;

.dao;
    ${package}
        .entity.${bigCamelCaseClassName}Entity;

/**
 * ${tableComment} Repository
 *
 * @author ${author}
 * @version ${datetime}
 */
public interface ${bigCamelCaseClassName}Repository extends JpaRepository<${bigCamelCaseClassName}Entity, String> {

}