package ${package}.service.impl;

import java.util.List;

import com.ming.common.util.StringUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import ${package}.mapper.${bigCamelCaseClassName}Mapper;
import ${package}.domain.${bigCamelCaseClassName};
import ${package}.service.${bigCamelCaseClassName}Service;


/**
 * ${tableComment} ServiceImpl
 *
 * @author ${author}
 * @version ${datetime}
 */
@Service
public class ${bigCamelCaseClassName}ServiceImpl implements ${bigCamelCaseClassName}Service {

    @Autowired
    private ${bigCamelCaseClassName}Mapper ${littleCamelCaseClassName}Mapper;

    /**
     * 查询${tableComment}信息
     *
     * @param ${primary.littleCamelCaseFieldName} ${tableComment}Id
     * @return ${tableComment}
     */
    @Override
    public ${bigCamelCaseClassName} findById(${parimary.fieldType} ${primary.littleCamelCaseFieldName}) {
        return ${littleCamelCaseClassName}Mapper.findById(${primary.littleCamelCaseFieldName});
    }

    /**
     * 查询${tableComment}列表
     *
     * @param ${littleCamelCaseClassName} ${tableComment}
     * @return ${tableComment}List
     */
    @Override
    public List<${bigCamelCaseClassName}> findByList(${bigCamelCaseClassName} ${littleCamelCaseClassName}) {
        return ${littleCamelCaseClassName}Mapper.findByList(${littleCamelCaseClassName});
    }

    /**
     * 保存${tableComment}
     *
     * @param ${littleCamelCaseClassName} ${tableComment}
     * @return ${tableComment}
     */
     @Override
     public ${bigCamelCaseClassName} save(${bigCamelCaseClassName} ${littleCamelCaseClassName}) {
         return ${littleCamelCaseClassName}Mapper.save(${littleCamelCaseClassName});
     }

    /**
     * 更新${tableComment}
     *
     * @param ${littleCamelCaseClassName} ${tableComment}
     * @return ${tableComment}
     */
     @Override
     public ${bigCamelCaseClassName} update(${bigCamelCaseClassName} ${littleCamelCaseClassName}) {
         return ${littleCamelCaseClassName}Mapper.update(${littleCamelCaseClassName});
     }

    /**
     * 删除${tableComment}
     *
     * @param ${primary.littleCamelCaseFieldName}
     * @return
     */
    @Override
    public int deleteById(${primary.fieldType} ${primary.littleCamelCaseFieldName}) {
        return ${littleCamelCaseClassName}Mapper.deleteById(${primary.littleCamelCaseFieldName});
    }

    /**
     * 批量删除${tableComment}
     *
     * @param ${primary.littleCamelCaseFieldName}s
     * @return
     */
    @Override
    public int deleteByIds(String ${primary.littleCamelCaseFieldName}s) {
        String[] ids = StringUtils.split(${primary.littleCamelCaseFieldName}s, ",");
        return ${littleCamelCaseClassName}Mapper.deleteById(ids);
    }
}